[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/libraray-management
ExecStart=/home/ubuntu/libraray-management/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          library_management_system.wsgi:application
[Install]
WantedBy=multi-user.target
